:root{
    color: #333;
    --h5-fontsize: 30px;
    --title-color: red;
    --content-color: blue;  
    --theme-color: #ff1110;
}

.current-color{
    background: currentColor;
}
a{
    color: inherit; /*继承body的颜色*/
    color: currentColor;
}

.tip{
    width: 300px;
    height: 100px;
    border-radius: 6px;
    background: darkkhaki;
    padding: 10px;
    position: relative;
    border:0.0625em solid sandybrown;
}
.tip::before{
    content: "";
    position: absolute;
    top: -0.5625em;
    left: 1em;
    padding: 0.5em;
    background: inherit;
    border:inherit;
    border-right: 0;
    border-bottom: 0;
    transform: rotate(45deg);
 
}
.father{
    border: 1px solid #999;
    padding:10px;
    --title-color: green;
}
.father *{
    border:inherit;
    padding: inherit;
    color:inherit;
    
}

.title{
    color: var(--title-color);
}
.content{
    color: var(--content-color);
}
button{
    background: var(--theme-color);
}
